* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/fond-forum.jpg);
}

.article-list {
    width: 50%;
    background-color: white;
    min-height: 100vh;
    margin: 0 auto;
}

.page-title {
    padding: 12px 8px 12px 8px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    text-decoration: underline;
}

.page-title h1 {
    font-size: 24px;
}

.single {
    border-bottom: 1px solid lightgray;
    padding: 2rem;
}

.pseudo{
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.date{
    float: right;
    font-style: italic;
    opacity: 0.6;
}

.image{
    max-width: 200px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    margin-top: 10px;
}