body {
    background-image:url(fond.png);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


#space{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 70%;
    
}

.mention-title{
    text-align: center;
    text-decoration: underline;
    margin-top: 80px;
    padding-top: 50px; 
}

.mention-p{
    padding-bottom: 50px;
    margin-left: 40px;
}

.a {
    text-align: center;
        padding-bottom: 50px;
}
