/*les photo a redimensionner via photoshop pour eviter pb pixel*/

* {
    box-sizing: border-box
}

body {
    transition: opacity 2s ease;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.fond-scroll {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    transition: all .5s;
}

[name="fond-scroll-radio"] {
    position: absolute;
    left: -999em;
}

[name="fond-scroll-radio"]+.fond-scroll {
    opacity: 0;
}

[name="fond-scroll-radio"]:checked+.fond-scroll {
    opacity: 1;
}

.opacity:hover {
    opacity: 0.9;
}

.onglet {
    position: relative;
    left: 8%;
    display: inline-flex;
    list-style: none;
    font-size: 2em;
    margin-right: 30px;
    margin-left: 25px;
    margin-top: 25px;
}

.menu-act {
    z-index: 1;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: white;
    height: 36px;
    width: 36px;
    border-radius: 10px;
    border: 2px solid #8e8e8e;
}

.menu-act:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.triangle {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 20px solid #8e8e8e;
}

#space {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 70%;

}

.title-block {
    margin-left: auto;
    margin-right: auto;
    background-color: #8e8e8e;
    width: 90%;
    border: 1px solid black;
    position: relative;
    top: 60px;
}

.txt-title {
    text-align: center;
    font-size: 3.2em;
    letter-spacing: 10px;
}

.underline-title {
    background-color: black;
    position: relative;
    bottom: 25px;
    border: 1px solid black;
    width: 45%;
}

.creation-title {
    text-align: center;
    padding-top: 120px;
    text-decoration: underline;
    font-size: 3em;
}

.araki {
    float: left;
    margin: -9% -2% -9% -2%;
}

.creation-txt {
    font-size: 1.5em;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

.line {
    margin-top: 100px;
    background-color: #8e8e8e;
    border: 1px solid #8e8e8e;
    width: 85%;
    opacity: 0.5;
}

.presentation-title {
    text-align: center;
    padding-top: 50px;
    text-decoration: underline;
    font-size: 3em;
}

#family {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
}

.presentation-txt {
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.container-protagoniste {
    display: flex;
    flex-wrap: wrap;
}

.figure-protagoniste {
    flex: 1 1 10%;
}


.protagoniste-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
    text-decoration: underline;
    font-size: 3em;
}

.protagoniste-img {
    margin-left: 8%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.protagoniste-img:hover {
    transform: scale(1.1);
}

.figcaption-protagoniste {
    margin-left: 45px;
    margin-top: -20px;
    text-decoration: underline;
    font-size: 1.5em;
}

.sites-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
    text-decoration: underline;
    font-size: 3em;
}

.crunchyroll {
    position: relative;
    top: -40px;
    right: 100px;
    float: right;
    max-width: 100%;
    height: auto;
}

.crunchyroll:hover {
    transform: scale(1.1);
}

.site-txt-anime {
    font-size: 1.5em;
    text-decoration: underline;
    margin-left: 15%;
    margin-top: 5%;
}

.stairway {
    float: right;
    position: relative;
    max-width: 100%;
    height: auto;
    right: 90px;
    top: -30px;
}

.stairway:hover {
    transform: scale(1.1);
}

.site-txt-manga {
    font-size: 1.5em;
    text-decoration: underline;
    margin-left: 15%;
    margin-top: 5%;
}

.bloc-fin {
    background-color: rgb(80, 80, 80);
    height: 140px;
    padding-top: 15px;
}

.txt-fin {
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.line-fin {
    background-color: black;
    border: 1px solid black;
}

.txt-fin-fin {
    text-align: center;
    font-size: 0.8em;
    margin-top: -9px;
}

.acreation {
    color: black;
    text-decoration: none;
}

.apresentation {
    color: black;
    text-decoration: none;
}

.aprotagoniste {
    color: black;
    text-decoration: none;
}

.asites {
    color: black;
    text-decoration: none;
}

.amention {
    color: black;
    text-decoration: none;
}

.aconstruct {
    color: black;
    text-decoration: none;
}


.sidenav {
    height: 100%;
    width: 0;
    /*width a changer sur le fichier javascript*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background: rgba(104, 101, 101, 0.95);
}

.sidenav a {
    padding: 8px 8px 30px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .croix {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-deroulant {
    position: relative;
    display: inline-block;
}

.deroule-contenu {
    display: none;
    position: absolute;
    left: 30px;
    top: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.deroule-contenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.deroule-contenu a:hover {
    background-color: rgb(148, 146, 146);
}

.menu-deroulant:hover .deroule-contenu {
    display: block;
}

.slider-container {
    max-width: 60%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    background-color: rgba(104, 101, 101, 0.95);
    ;
}

.next {
    right: -50px;
}

.prev {
    left: -50px;
}

.prev:hover,
.next:hover {
    background-color: rgba(56, 55, 55, 0.95);
}

.rond {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.rond:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

.mention-block {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.mention:hover {
    cursor: pointer;
}

.mention-contenu {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 5px solid #888;
    border-radius: 20px;
    width: 80%;
}

.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}

.projet {
    text-align: center;
}

.mentionH2 {
    text-decoration: underline;
    text-align: center;
}

.div-line {
    height: 2px;
    width: 70%;
    background-color: #000000;
    margin-left: 25px;
}

.contact-block {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.contact:hover {
    cursor: pointer;
}

.contact-contenu {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 5px solid #888;
    border-radius: 20px;
    width: 80%;
}

.close2 {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.2);
}

.projet {
    text-align: center;
}

.mentionH2 {
    text-decoration: underline;
    text-align: center;
}

.formulaire {
    display: block;
    text-align: center;
}

.email,
.name {
    width: 20%;
}

.msg {
    width: 90%;
    padding-bottom: 200px;
}

.envoi {
    margin-left: auto;
    margin-right: auto;
    background-color: #888;
    width: 130px;
    height: 60px;
    border-radius: 10px;
}

.envoi:hover {
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}

.envoi p {
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 17px;

}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) {
    .menu-act {
        height: 60px;
        width: 60px;
    }

    .triangle {
        top: 10px;
        left: 15px;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 30px solid #8e8e8e;
    }
}

@media screen and (max-width: 1200px) {

    #space,
    #title {
        width: 100%;
    }

    .araki {
        float: none;
    }
}

@media screen and (max-width: 1300px) {

    .crunchyroll,
    .stairway {
        position: static;
        margin-right: 40px;
    }

    .menu2 {
        height: 200px;
    }
}

@media screen and (max-width: 640px) {

    .ongletMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu2 {
        height: 420px;
    }
}